<div id="game-board-actions" class="card">
  <div class="card-header">
    Controls
  </div>
  <div class="card-body">
    <!-- <input type="checkbox" id="toggle-toiroidal" (click)="toggleT()" [(ngModel)]="toroidalBoard" /> Use Toiroidal Board<br/> -->
    <input type="checkbox" id="toggle-auto-refresh" (click)="toggle()" [(ngModel)]="autoTick" /> Auto Tick<br />

    <button (click)="tick()" class="btn btn-outline-danger btn-sm">Tick</button>&nbsp;

    <button type="button" class="btn btn-outline-warning btn-sm" (click)="resetBoard()">Start Over</button>&nbsp;


    <br />
    <span>Tick Count:&nbsp;&nbsp;</span>
    <span id="tickCount" class="badge badge-primary">{{ticks}}</span>
  </div>
</div>
