.container
{
  text-align: center;
	/* border: 1px solid green; */
	padding: 5px;
}

.container table {
	/* border: 1px solid red; */
	/* You can also uncomment this and remove the align="center" attribute
		margin: 0 auto;
	*/
}
