<div id="board-parameters" class="card">
  <div class="card-header">
    Enter Parameters
  </div>
  <div class="card-body">
    <div>
      <label>
        Width
        <input [(ngModel)]="width" type="number" placeholder="width" min="1" max="100" step="1">
      </label>
    </div>
    <div>
      <label>
        Height
        <input [(ngModel)]="height" type="number" placeholder="height" min="1" max="100" step="1">
      </label>
    </div>
    <div>
      <label>
        Fill-Factor
        <input [(ngModel)]="fillFactor" type="number" placeholder="fill-factor" min=".1" max="1" step=".1">
      </label>
    </div>
    <label>
      Generator
      <select [(ngModel)]="selectedGenerator">
        <option *ngFor="let generator of generators" [ngValue]="generator.name">{{generator.name}}</option>
      </select>
    </label>
    <br />
    <button type="button" class="btn btn-outline-primary btn-sm" (click)="complete()">Create New Game</button>

  </div>
</div>
