@model CGol.web.Models.GameModel

<table>
	@for (var y = 0; y < Model.Height; y++)
	{
		<tr>
			@for (var x = 0; x < Model.Width; x++)
			{
				if (Model.Board[x, y])
				{
					<td class="cell alive" data-x="@x" data-y="@y">
						<div></div>
					</td>
				}
				else
				{
					<td class="cell dead" data-x="@x" data-y="@y">
						<div></div>
					</td>
				}
			}
		</tr>
	}
</table>

