@model CGol.web.Controllers.GameModel

<table>
	@for (var i = 0; i < Model.Height; i++)
	{
		<tr>
			@for (var j = 0; j < Model.Width; j++)
			{

				if (Model.Board[i, j])
				{
					<td class="alive">
						<div></div>
					</td>
				}
				else
				{
					<td class="dead">
						<div></div>
					</td>
				}
			}
		</tr>
	}
</table>