@model CGol.web.Controllers.NewGameModel
<h3>Conway's Game of Life</h3>

<div id="board-parameters">
	<div>
		<label for="width">Width</label>
		<input id="width" name="width" value="10"/>
	</div>
	<div>
		<label for="height">Height</label>
		<input id="height" name="height" value="10"/>
	</div>
	<div>
		<label for="fill-factor">Fill Factor</label>
		<input id="fill-factor" name="fill-factor" value=".5"/>
	</div>
	<select id="initial-state">
		<option value="random">Random Board</option>
		<option value="blank">Blank Board</option>
		<option value="checkerboard">Checkboard</option>
		<option value="symmetric">Symmetric Board</option>
		<option value="gosper">Gosper's Gliding Gun</option>
	</select>
	<button id="new-board" name="new-board" type="button" class="btn btn-primary" value="New Board">Create New Game</button>
</div>

<div id="game-board-actions">
	<input type="checkbox" id="toggle-auto-refresh"/> Auto Tick
	<a href="#" id="service-tick">Tick</a>&nbsp;
	<a href="#" id="reset-game-board">Start Over</a>&nbsp;
	<br/>
	<span>Tick Count:&nbsp;&nbsp;</span><span id="tickCount"></span>
</div>

<div id="game-board"></div>


@section scripts
{
<script src="~/Scripts/cgol-board.js"></script>
}
