@model CGol.web.Models.GameModel

<div><b>Width:</b>@Model.Width</div>
<div><b>Height:</b>@Model.Height</div>
<div><b>Fill Factor:</b>@Model.FillFactor</div>
@{
	Html.RenderPartial("_board", Model);
}

<a href="/home/tick">Tick</a>&nbsp;<a href="/home/index">Start Over</a>

@section scripts
{
	<script type="text/javascript">
		var board = @Html.Raw(Model.JsonBoard());

		$(document).ready(function() {
			$(".cell").click(function () {
				var x = $(this).data("x");
				var y = $(this).data("y");

				if ($(this).hasClass("alive")) {
					$(this).removeClass("alive");
					$(this).addClass("dead");
					board.Board[x, y] = false;
				} else {
					$(this).removeClass("dead");
					$(this).addClass("alive");
					board.Board[x, y] = true;
				}

			});
		});
	</script>
}
