@model CGol.web.Controllers.GameModel

<div><b>Width:</b>@Model.Width</div>
<div><b>Height:</b>@Model.Height</div>
<div><b>Fill Factor:</b>@Model.FillFactor</div>
@{
	Html.RenderPartial("_board", Model);
}

<a href="/home/tick">Tick</a>&nbsp;<a href="/home">Start Over</a>

<script type="text/javascript">
	window.setInterval(function() {
		window.location.replace('/home/tick');
	}, 1000);
</script>
