<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	<title>@ViewBag.Title</title>
	<style>
		table {
			/*width: 30px;*/
			border: 1px dashed black;
			border-spacing: 0px;
			border-collapse: collapse;
		}

			table td > div {
				overflow: hidden;
				height: 5px;
				width: 5px;
			}

			.cell {
			}

			.alive {
				background-color: #0000FF;
				border: 0px;
			}

			.dead {
				background-color: #FFFFFF;
				border: 1px solid black;
			}
	</style>
</head>
<body>
	<div id="header"></div>
	<div id="body">@RenderBody()</div>
	<footer></footer>
	
	<script src="~/Scripts/jquery-1.9.1.min.js"></script>

	@RenderSection("scripts", required: false)
</body>
</html>