<div>

  <div class="row justify-content-center">
    <div class="card-group">

      <div class="col-xm-6">
        <app-params
          [width]="this.game.width"
          [height]="this.game.height"
          [fillFactor]="this.game.fillFactor"
          [generators]="this.generators"
          [selectedGenerator]="this.game.generator"
          (completed)="createNewGame($event)"></app-params>
      </div>

      <div class="col-xm-6">
        <app-game-controls *ngIf="this.activeGame"
          [autoTick]="autoTick"
          [toroidalBoard]="toiroidal"
          [ticks]="tickCount"
          (ticked)="tick()"
          (toggleAutotick)="toggleAutotick()"
          (toggleToiroidal)="toggleToiroidal()"
          (reset)="resetGame()">
        </app-game-controls>
      </div>

    </div>
  </div>

  <div class="row justify-content-center">

    <app-board *ngIf="this.activeGame"
      [board]="this.game.board"
      [width]="this.game.width"
      [height]="this.game.height"></app-board>
  </div>
</div>


<div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.
        This content is a little bit longer.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card" *ngIf="this.activeGame">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
</div>
