<div>
  <app-params
    [width]="this.game.width"
    [height]="this.game.height"
    [fillFactor]="this.game.fillFactor"
    [generators]="this.generators"
    (completed)="createNewGame($event)"></app-params>

  <app-game-controls *ngIf="this.activeGame"
    [autoTick]="autoTick"
    [ticks]="tickCount"
    (ticked)="tick()"
    (toggleAutotick)="toggleAutotick()"
    (reset)="resetGame()"></app-game-controls>

  <app-board *ngIf="this.activeGame"
    [board]="this.game.board"
    [width]="this.game.width"
    [height]="this.game.height"></app-board>
</div>
