



<div class="card">
  <div class="card-body">
    <div *ngIf=board class="container">
      <table>
        <tr *ngFor="let y of heightRange">
          <td *ngFor="let x of widthRange">
            <section *ngIf="!showSmallBoard">
              <fa *ngIf="board[x][y]" name="bug" size="5x"></fa>
              <fa *ngIf="!board[x][y]" name="bug" size="5x" inverse="true"></fa>
            </section>
            <section *ngIf="showSmallBoard">
              <fa *ngIf="board[x][y]" name="bug" size="xs"></fa>
              <fa *ngIf="!board[x][y]" name="bug" size="xs" inverse="true"></fa>
            </section>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
